/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}



/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {

    background: #D3D1CC;
}

header {

    margin-bottom: 55px;
}

footer {

    background: #333333;
}

.container {


    padding: 0 10px;
    max-width: 945px;
    margin: 0 auto;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#slider {

    margin-top: 25px;
    margin-bottom: 20px;
}

.bx-wrapper img {
    max-width: inherit;
    width: 100%;
}

nav {    

    border:1px solid black;
    background-color: #333333;
}

#portfolio h3 {

    color: #EF4F1D;
}


nav ul li{
    
    display: inline-block;
    padding-left: 10px;
}

nav ul li a {

    display: inline-block;
    color: white;
    text-decoration: none;
}



#intro p {

    width: 260px;
    float:left;
    margin-left: 25px;
    color: #888888;
}

#intro p:first-child {

    text-transform: uppercase;
    padding-top: 30px;
    font-size: 25px;
    color: #333333;
}


section {

    margin-bottom: 65px;
}

section h2 {

    border:1px solid black;
    background-color: #333333;
    color: white;
    padding-left: 10px;
    font-size: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}


#moustache-container {

    display: flex;
    flex-flow:row wrap;
    justify-content:space-between;
}


#moustache-container article {

    width: 100%;
    background: #FFF;
    margin-bottom: 10px;
    text-align: center;
}


#moustache-container article img {

    max-width: 100%;
}

.social li {

    display: inline-block;
    margin: 0 5px;
}

.social li a {

    display: block;
    width: 46px;
    height: 46px;
    background-image: url(../img/social-icons.png);

}

#facebook {

    background-position: 0 0;
}

#twitter {

    background-position: -52px 0;
}

#dribble {

    background-position: -104px 0;
}

#rss {

    background-position: -156px 0;
}



#facebook:hover {

    background-position: 0 -47px;
}

#twitter:hover {

    background-position: -52px -47px;
}

#dribble:hover {

    background-position: -104px -47px;
}

#rss:hover{

    background-position: -156px -47px;
}








/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 500px) {

#moustache-container article {

    width: 49%;
}

}

@media only screen and (min-width: 750px) {

#moustache-container article {

    width: 23%;
}


}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}